<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "publications-head.html" . }}
<body class="light-mode archive-layout">
    <header class="navbar">
        {{ partial "navbar.html" . }}
    </header>
    <div id="navscreen" class="navscreen hide-in-desktop">
        {{ if eq .Section "blogs" }}
        {{ partial "navscreen-no-profile.html" . }}
        {{ else }}
        {{ partial "navscreen.html" . }}
        {{ end }}
    </div>
    <div class="container archive-container">
        <main class="main-content archive-main-content">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="footer">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
